COMPOSE_FILE_PATH=/path_to_your_empty_folder/used_to_save_secware_compose_file
OPERATOR_SECRET_KEY=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
OPERATOR_BLS_SECRET_KEY=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
NODE_CLASS=xl
API_PORT=7776
OPERATOR_URL=http://your_operator_ip:7776
ETH_RPC=https://your_rpc_url
QUORUM_NUMS=0
REGISTRY_COORDINATOR_ADDR=0x3C503C651e3BD82C7AD169411E674d8ea6ad07e6
OPERATOR_STATE_RETRIEVER=0x5ce26317F7edCBCBD1a569629af5DC41c1622045